<div class="container">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="form-group mt-4">
          <div class="d-flex">
            <input type="operator" class="form-control" id="operator" placeholder="Enter your operator address">
            <button type="submit" class="btn btn-primary ml-2 text-white">Search</button>
          </div>
          <div class="d-flex justify-content-start">
            <label class="form-check-label" for="skip-inactive">Skip inactive</label>
            <input type="checkbox" class="form-check-input" id="skip-inactive">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
